body {
    font-family: sans-serif;
    color: white;
    background-color: black;
}

#area {
    font-style: italic; 
    font-weight: lighter;
}

#areaTwo {
    font-style: italic; 
    font-weight: lighter;
}

