/* Bubble CSS */ 

.testBubblesWrapper {
    display: flex;
    flex-flow: row; 
    width: 600px;
    height: 500px; 
    margin-right: auto;
    margin-left: auto; 
    margin-top: 50px; 
}

.bigWrapper {
    width: 120px;
}

.bubble {
    border-radius: 50%; 
    /*
    height: 250px;
    width: 250px; 
    */
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.bubbleDiv {
    flex: 1; 
    float: left; 
    margin-right: 10px;
    margin-bottom: 10px; 
}

.testBubble {
    /*
    background-image: url("images/JXwuN2Q.jpg");
    background-size: cover;
    */
    background-color: darkslategray; 
}

.testBubbleChild {
    background-color: darkslategray;
}

.testBubbleChildrenDiv {
    background-color: aquamarine; 
    visibility: hidden;
    height: 540px;
    width: 500px; 
}

.visible {
    visibility: visible; 
}